<html>
	<head>
		<title>{{ title }}</title>
		<STYLE TYPE="text/css">
		  H1 { font: 28px Lucida Console; color: #B4DABB; background-color: black; text-align: center }
		  H2 { font: 12px Lucida Console; color: #A89291; background-color: black; text-align: center }
		  body { font: 18px Lucida Console; color: #B4DABB; background-color: black; text-align: center }
		  p { font: 18px Lucida Console; color: #A89291; background-color: black; text-align: center }
		  a { font: 12px Lucida Console; color: #A89291; background-color: black; text-align: center }
		</STYLE>
	</head>
	<body>
		<img src="../static/diaspora.png" alt="Diaspora Colony Generator">
		<p>simulated space colonies</p>
		<br>
		<br>
		<h1>{{ colony }}</h1>
		<p>{{ attributes }}</p>
		<br>
		<br>
		<form><input type=button value="Generate new colony" onClick="window.location.reload()"></form> 
	        <br>
	        <br>
	        <br>
	        <br>
	        <br>
		<h2>by <a href="http://www.twitter.com/ptychomancer" target="_blank">ptychomancer</a></h2>
	</body>
</html>